.taskContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 5px;

    transition: 1s;

    h3 {
        word-break: break-all;
        margin-top: 7px
    }

    .btnTask {
        display: flex;
        gap: 5px;


        .btnStyle {
            font-size: 20px;
            background: #c4dfe67e;
            padding: 8px;
            border-radius: 5px;
            transition: 0.7s;
            opacity: 0;
            cursor: pointer;
            transform: translateX(100px);
        }

        .btnStyle:hover {
            background: #c4dfe6;
        }

        .btnStyle:active {
            color: #66a5ad;
            background: #c4dfe6;
            transform: translateY(3px);
            transition: 0.2s ease;
        }
    }

    .modalSelection {
        position: absolute;
        top: 40%;
        left: 15%;

        display: flex;
        flex-direction: column;

        padding: 10px;
        background: #c4dfe6;
        border-radius: 15px;

        h3 {
            cursor: pointer;
            margin-right: auto;
        }
    }
    .modalSelectionNone {
        display: none;
    }
}

.taskContainer:hover .btnStyle {
    transform: translateX(0px);
    opacity: 1;
    transition: 1s;

}