.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #c4dfe6;
    overflow: hidden;
    height: 713px;

    .contant {
        display: flex;
        overflow-x: auto;

    }
    .contant::-webkit-scrollbar {
        display: none;
      }
}