.homePageContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;


    .contant {
        display: flex;
        overflow-x: auto;
        height: 638px;

        opacity: 1;
        transition: 1s;

    }

    .contant::-webkit-scrollbar {
        display: none;
    }

    .opacityContant {
        opacity: 0.2;
        transition: 1s;
    }
}