.signIn {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        padding: 7px 18px;

        font-weight: 700;
        color: #003b46;
        background: #c4dfe6;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: 0.2s;
    }

    button:active {
        color: #66a5ad;
        transform: translateY(5px);
        transition: 0.2s ease;
    }
}