.processContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    border-bottom: 1px solid #003b46;
    margin: 10px 0;
    padding: 15px 10px;
    width: 340px;

    transition: 0.5s;
    cursor: pointer;

    .titleProcess {
        display: flex;
        align-items: center;
        height: 35px;

        h3 {
            word-break: break-all;
            overflow: hidden;
            flex: 1;
            color: #003b46;
        }
    }

    .buttonsProcess {
        display: flex;
        gap: 5px;
        transform: translateX(120px);
        opacity: 0;
        transition: 1s;
    }

    .btnStyle {
        font-size: 20px;
        background: #c4dfe6;
        padding: 5px;
        border-radius: 5px;
        transition: 0.2s;
        cursor: pointer;
    }

    .btnStyle:active {
        color: #66a5ad;
        transform: translateY(5px);
        transition: 0.2s ease;
    }

    .errorTitle {
        position: absolute;
        top: 51px;
        left: 10px;
        font-size: 12px;
        color: rgb(230, 0, 0);
        font-weight: 700;
    }
}

.processContainer:hover {
    border-radius: 15px;
    background-color: #c4dfe690;
    transition: 0.5s;
}
.processContainer:hover .buttonsProcess {
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
}
.processContainer:hover .btnStyle {
    color: #66a5ad;
    transition: 0.5s;
}