.infoProjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 340px;
    width: 100%;

    .topWindow {
        display: flex;
        width: 340px;
        gap: 15px;

        h1 {
            text-align: center;
            word-break: break-all;
            overflow: hidden;
            flex: 1;
            color: #003b46;

        }

        .crossIcon {
            margin-top: 10px;
            cursor: pointer;
            color: #003b46;

        }

        .formNewTitle {
            display: flex;
            gap: 7px;
            width: 100%;
        }

        .processBlock {
            padding: 7px 0;
        }
    }

    .processesContainer {
        height: 420px;
        overflow-y: auto;
    }
    .processesContainer::-webkit-scrollbar {
        display: none;
        width: 4px;
    }

    .processesContainer:hover::-webkit-scrollbar {
        display: block;
        transition: 0.5s;
    }

    .processesContainer::-webkit-scrollbar-track {
        background: none;
    }

    .processesContainer::-webkit-scrollbar-thumb {
        border-radius: 20px;
        border: 3px solid #003b46;
    }


    .btnNewProcess {
        margin: 20px auto;
    }
}