.projectWindowContainer {
    padding: 20px 40px;
    background: #66a5ad;
    border-radius: 20px;
    min-width: 300px;
    height: 550px;
    margin: 20px;
    transition: 0.3s ease-in-out;

    .topWindow {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        h1 {
            word-break: break-all;
            overflow: hidden;
            flex: 1;
            color: #003b46;

        }

        .smallIcon {
            cursor: pointer;
            margin-top: 10px;
            margin-left: auto;
            color: #003b46;

        }

        .crossIcon {
            margin-top: 10px;
            cursor: pointer;
            color: #003b46;

        }
    }
    .processBlock {
        padding: 7px 0;
    }

    .btnNewProcess {
        margin-top: 20px;
        margin-left: 80px;
    }
}

.bigWindow {
    min-width: 1300px;
    transition: 0.3s ease-in-out;
}