.projectWindowContainer {
    position: relative;
    padding: 20px 40px;
    background: #66a5ad;
    border-radius: 20px;
    max-width: 330px;
    width: 100%;
    height: 550px;
    margin: 20px;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    
    .windowControl {
        position:absolute;
        right: 30px;
        display: flex;
        gap: 20px;
        float: right;
    }

    .smallIcon {
        cursor: pointer;
        margin-left: auto;
        color: #003b46;
    }

    .windowContant {
        display: flex;
        gap: 40px;
    }
    
}

.bigWindow {
    max-width: 1300px;
    transition: 0.3s ease-in-out;
}