.additionalProfileInfoContainer {
    position: absolute;
    top: 100px;
    left: 20%;

    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 50px 20px;
    max-width: 880px;
    width: max-content;
    z-index: 2;

    background: #66a5ad;
    border-radius: 20px;

    .firstInfo {
        display: flex;
        gap: 70px;

        .photoUsers {
            max-width: 200px;
            border: 3px solid #003b46;

            .addPhoto {
                width: 140px;
                height: 140px;

                color: #66a5ad;
                filter: drop-shadow(2px 0 0 #003b46) drop-shadow(-2px 0 0 #003b46) drop-shadow(0 -2px 0 #003b46) drop-shadow(0 2px 0 #003b46);
            }
        }
    }

    .secondInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;

        .editInfo {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: max-content;
        }
    }
}