.additionalProfileInfoContainer {
    position: absolute;
    top: 95px;
    left: 23%;

    display: flex;
    gap: 50px;

    padding: 50px;
    max-width: 700px;
    width: 100%;
    z-index: 2;

    background: #66a5ad;
    border-radius: 20px;
    transition: 1s;


    .photoUsers {
        max-width: 200px;
        border: 3px solid #003b46;

        .addPhoto {
            width: 140px;
            height: 140px;

            color: #66a5ad;
            filter: drop-shadow(2px 0 0 #003b46) drop-shadow(-2px 0 0 #003b46) drop-shadow(0 -2px 0 #003b46) drop-shadow(0 2px 0 #003b46);
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;

        form {
            display: flex;
            justify-content: space-between;

            width: 100%;

            h3 {
                display: flex;
                align-items: center;
                height: 36px;
                width: max-content;

                cursor: pointer;

            }
        }

    }

    .opacityProfileInfo {
        opacity: 0;
    }

}